{% extends 'base.html.twig' %}
{% block body %}
	{% for onePost in tabpost %}
		<div class="row">
			<div class="col-md-4">
				{{ onePost['idpost'] }}
			</div>
			<div class="col-md-4">
				<a href="{{ path("other_profil", {'id':onePost['iduser']}) }}">{{ onePost['auteur'] }}</a>
			</div>
			<div class="col-md-4">
				{{ onePost['date'].date }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ onePost['content'] }}
			</div>
		</div>
	{% endfor %}
{% endblock %}