{% extends 'base.html.twig' %}




{% block body %}
  <h1> Welcome to the Wild Village ! </h1>
  <div class="cerf_index">
  <img src="{{ asset('img/cerf.jpg') }}"/>
  </div>
   <div class="row">
    <div class=" col-md-offset-1 col-md-10 col-lg-offset-1 top">
  

            <img src="{{ asset('img/connecter.jpg') }}"/>
            
            <a href="{{path('user_login')}}"><h3>se connecter</h3></a>

            <img src="{{ asset('img/inscrire.jpg') }}"/>
            
            <a href="{{path('user_register')}}"><h3>s'inscrire</h3></a>
    
     </div>
    </div>
{% endblock %}
