{% extends 'base.html.twig' %}
{% block body %}
	{{ user.username }}
	<br/>
	{{ user.email }}
	<br/>
	{{ datauser.firstname }}
	<br/>
	{{ datauser.surname }}
	<br/>
	Age:
	{{ datauser.age }}
	<br/>
	<br/>
		<div class="row">
			<div class="col-lg-12 game">
		      <form action="{{ path("profil_check") }}" method="post">
			
				<div>
				   	<label for="firstname">Prénom :</label>
					<input type="string" name="firstname" id="firstname"/>
					<label for="firstnameispublic">Rendre public</label>
					<input type="checkbox" { {%if firstnameIspublic is defined %}{%if profil.firstnameIspublic==true %} checked {%endif%}{%endif%}} name="firstnameispublic" id="firstnameispublic"/>
				</div>
			    <div>
				   	<label for="surname">Nom :</label>
					<input type="string" name="surname" id="surname"/>
					<label for="surnameispublic">Rendre public</label>
					<input type="checkbox" { {%if surnameIspublic is defined %}{%if profil.surnameIspublic==true %} checked {%endif%}{%endif%}} name="surnameispublic" id="surnameispublic"/>
				</div>
				<div>
				   	<label for="email">Email :</label>
					<input type="string" name="email" id="email"/>
					<label for="mailispublic">Rendre public</label>
					<input type="checkbox" { {%if mailIspublic is defined %}{%if profil.mailIspublic==true %} checked {%endif%}{%endif%}} name="mailispublic" id="mailispublic"/>
				</div>
				 <div>
				   	<label for="age">Age :</label>
					<input type="string" name="age" id="age"/>
					<label for="ageispublic">Rendre public</label>
					<input type="checkbox" { {%if ageIspublic is defined %}{%if profil.ageIspublic==true %} checked {%endif%}{%endif%}} name="ageispublic" id="ageispublic"/>
				</div>
				<div>
				   	<label for="bio">Votre biographie :</label>
					<textarea name="bio" placeholder="décrivez votre parcours" id="bio"></textarea>
					<label for="bioispublic">Rendre public</label>
					<input type="checkbox" { {%if bioIspublic is defined %}{%if profil.bioIspublic==true %} checked {%endif%}{%endif%}} name="bioispublic" id="bioispublic"/>
				</div>
				<div class="register-but">
			        <input class="btn-style" type="submit" value="{{ 'Valider'|trans }}" />
			    </div>
			</form>
			
		        <input class="btn-style" type="submit" value="{{ 'nouveau post	'|trans }}" />
			
		</div>


	</div>
{% endblock %}