{% extends 'base.html.twig' %}
{% block body %}
    
        <div class="col-md-12 prof">
	<div class="row">
        <div class="col-md-8 username">
    <h3>{{ user.username }}</h3>
</div>
	
     <div class="col-md-4 email">
	{{ user.email }}
</div>

</div>
	
	{{ datauser.firstname }}
	
	{{ datauser.surname }}
	<br/>
	Age:
	{{ datauser.age }}
	<br/>
	Biographie:
    <br/>
	<div class="bio"> {% if profil.bio is defined %} {{ profil.bio }} {% endif %} </div>
	<br/>
</div>
    
        <form action="{{ path("user_posts") }}" method="post">
                <input class="btn-style" type="submit" value="{{ 'nouveau post  '|trans }}" />
            </form>
		<div class="row">
			<div class="col-lg-12 formulaire">
		      <form action="{{ path("profil_check") }}" method="post">
			
				<div>
				   	<label for="firstname">Prénom :</label>
					<input type="string" name="firstname" id="firstname" {% if datauser.firstname is defined %} value="{{datauser.firstname}}" {% endif %} />
					<label for="firstnameispublic">Rendre public</label>
					<input type="checkbox" { {% if profil.firstnameIspublic is defined %}{% if profil.firstnameIspublic==true %} checked {% endif %}{% endif %}} name="firstnameispublic" id="firstnameispublic"/>
				</div>
			    <div>
				   	<label for="surname">Nom :</label>
					<input type="string" name="surname" id="surname" {% if datauser.surname is defined %} value="{{datauser.surname}}" {% endif %}/>
					<label for="surnameispublic">Rendre public</label>
					<input type="checkbox" { {% if profil.surnameIspublic is defined %}{% if profil.surnameIspublic==true %} checked {% endif %}{% endif %}} name="surnameispublic" id="surnameispublic"/>
				</div>
				<div>
				   	<label for="email">Email :</label>
					<input type="string" name="email" id="email" {% if user.email is defined %} value="{{user.email}}" {% endif %}/>
					<label for="mailispublic">Rendre public</label>
					<input type="checkbox" { {% if profil.mailIspublic is defined %}{% if profil.mailIspublic==true %} checked {% endif %}{% endif %}} name="mailispublic" id="mailispublic"/>
				</div>
				 <div>
				   	<label for="age">Age :</label>
					<input type="string" name="age" id="age" {% if datauser.age is defined %} value="{{datauser.age}}" {% endif %}/>
					<label for="ageispublic">Rendre public</label>
					<input type="checkbox" { {% if profil.ageIspublic is defined %}{% if profil.ageIspublic==true %} checked {% endif %}{% endif %}} name="ageispublic" id="ageispublic"/>
				</div>
				<div>
				   	<label for="bio">Votre biographie :</label>
					<textarea name="bio" placeholder="décrivez votre parcours" id="bio">{% if profil.bio is defined %} {{profil.bio}} {% endif %}</textarea>
					<label for="bioispublic">Rendre public</label>
					<input type="checkbox" { {% if profil.bioIspublic is defined %}{% if profil.bioIspublic==true %} checked {% endif %}{% endif %}} name="bioispublic" id="bioispublic"/>
				</div>
				<div class="register-but">
			        <input class="btn-style" type="submit" value="{{ 'Valider'|trans }}" />
			    </div>
			</form>
			
		</div>


    </div>
{% endblock %}